@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  transition: transform 0.3s ease;
  color: #9e9d9d;
}

.sidebar.left {
  left: 0;
}

.sidebar.right {
  right: -300px;
}

.sidebar.collapsed {
  transform: translateX(-100%);
}

.sidebar-content {
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  overflow: scroll;

}

.sidebar-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  border-radius: 30%;
  color: black;
  font-size: 20px;
}

.sidebar-toggle.left {
  right: -50px;
}

.sidebar-toggle.right {
  left: -50px;
}
